
pre { font-family: "Arial Black", sans-serif; }
pre { font-size: 12pt; }

.message {
    top::0px;
    left: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.billing_notice, body {
 font-size:14px;
 font-family:'Times New Roman';   
    
}

.return_address_top {
 margin-bottom:15px;   
    
}

/* gh pages branch is linkable one. Suits a window enveolpe with Banner reorder code 900-1001
22 cm wide, and 11cm high. 
window is 2 cm from left edge and 5.3 cm from top.
Aine Meehan
*/

div.address {
    position: relative;
    border 0px;
    padding 0px;
    margin 0px;
    top: -0.375in;
    left: 0.800in;
    width: 4.5in;
    height: 1.125in;
}

div.return_address {
    position: relative;
    border 0px;
    padding 0px;
    margin 0px;
    top: 0.50in;
    left: 0.800in;
    width: 3.5in;
    height: 1.125in;
}

/* Content will appear in the bottom 2/3 of a letter size page when printed. */
div.content {
    position: relative;
    top: -.250in;
    left: 0.0in;
}

@media screen {
    .page-break {
        display: block;
        page-break-before: always;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }
}

