

pre { font-family: "Arial Black", sans-serif; }
pre { font-size: 14px; }

.message {
    top::0px;
    left: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.billing_notice, body {
 font-size:14px;
 font-family:'Times New Roman';color:#FF530D;/*orange*/

}



/* gh pages branch is linkable one. Suits a window enveolpe with Banner reorder code 900-1001
22 cm wide, and 11cm high.
window is 2 cm from left edge and 5.3 cm from top.
Aine Meehan
*/

div.patron_address {
    position: relative;
    border 0px;
    padding 0px;
    margin 0px;
    top: -0.375cm;
    left: 0.800cm;
    width: 9cm;
    height: 4cm;
}

div.library_address {
    position: relative;
    border 0px;
    padding 0px;
    margin 0px;
    top: -1cm;
    left: 15cm;
    width: 4cm;
    height: 9cm;
}

/* Content will appear in the bottom 2/3 of a letter size page when printed. */
div.content {
    position: relative;
    top: -.250cm;
    left: 0.0cm;
}

@media screen {
    .page-break {
        display: block;
        page-break-before: always;
        h1{color:#FFAB4A;/*PEACH*/
    }

}

@media print {
            .page-break {
             display: block;
             page-break-before: always;
             }
    
          
   
}

h1{color:#FF0000;}/*RED*/
